.row
  h4 Neo4j Arc
  p Neo4j Arc is a sync service where you sync
    | your Favorites, GraSS and store credentials
    | so you can load your personal environment wherever you are.
.row(style="margin-top: 10px")
  button.btn.btn-default(ng-click="CurrentUser.login()", style="display:block; margin: 0px auto") Sign in to Neo4j Arc
