article.guide
  .container-fluid
    .row
      .col-sm-4
        .box-max
          img.img-responsive(src='images/neo4j-world.png')
          p.lead.text-center {{ neo4j.version }}
      .col-sm-4
        h3 
          img.img-responsive(src='images/learn-heading.png')
          | Learn about Neo4j
        p.lead A graph epiphany awaits you.
        ul
          li What is a graph database?
          li How can I query a graph?
          li Why do people love graphs so much?
        p &nbsp;
        button.btn.btn-lg(play-topic='concepts') Start Learning (10 minutes)
      .col-sm-4
        h3 
          img.img-responsive(src='images/learn-heading.png')
          | Jump into code
        p.lead Live action Cypher queries
        ul
          li Code walk-through of a mini graph app
          li Create graph data using Cypher
          li Find data, discover answers 
        p &nbsp;
        button.btn.btn-lg(play-topic='movie-graph') Start Coding (10 minutes)
        
    .hero-unit
      p(ng-class="{'motd-bang': motd.callToAction.bang}")
        a(href="{{ motd.callToAction.u}}") {{ motd.callToAction.d }}

    footer
      p Copyright &copy;
        a.no-icon(href='http://neotechnology.com/')  Neo Technology
        | &nbsp;2002–
        span= new Date().getFullYear()
