article.guide
  .container-fluid
    .row
      .col-sm-4
        .box-max
          img.img-responsive(src='images/neo4j-world.png')
          p.lead.text-center {{ neo4j.version }}
      .col-sm-4
        h3 Get started
        p.lead by learning about Neo4j...
        br
        ul.big.undecorated
          li
            a(play-topic='intro') Intro
            |  - a guided tour
          li
            a(play-topic='concepts') Concepts
            |  - GraphDB 101
          li
            a(play-topic='cypher') Cypher
            |  - query language
      .col-sm-4
        h3 Jump into code
        p.lead with a mini graph app...
        br
        ul.big.undecorated
          li
            a(play-topic='movie-graph') The Movie Graph
          //- li
          //-   a(play-topic='network-graph') Network Management
          //- li
          //-   a(play-topic='product-graph') Product Recommendations
    .row.empty

  footer.tight
    p Copyright &copy;
      a.no-icon(href='http://neotechnology.com/')  Neo Technology
      | &nbsp;2002–
      span= new Date().getFullYear()
